// Color
$primary-color: 230 35% 7%;
$primary-light: 230 35% 7% / 0.15;
$secondary-color: 231 77% 90%;
$white-color: 0 0% 100%;
$white-light: 0 0% 100% / 0.5;
$white-lighter: 0 0% 100% / 0.25;
$white-none: 0 0% 100% / 0;

// Font
$Bellefair: "Bellefair-serif", serif;
$Barlow-condensed: "Barlow Condensed", sans-serif;
$Barlow: "Barlow", sans-serif;

$ff-serif: $Bellefair;
$ff-sans-condensed: $Barlow-condensed;
$ff-sans: $Barlow;

$fs-900: 9.375rem;
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;
