// Color
$primary-color: 230 35% 7%;
$primary-light: 230 35% 7% / 0.15;
$secondary-color: 231 77% 90%;
$white-color: 0 0% 100%;
$white-light: 0 0% 100% / 0.5;
$white-lighter: 0 0% 100% / 0.25;
$white--lighter: 0 0% 100% / 0.1;
$white-none: 0 0% 100% / 0;
// For nav glass effect
$white-lightest: 0 0% 100% / 0.05;
$dark-lightest: 0 0% 0% / 0.9;
// Font
$Bellefair: 'Bellefair-serif', serif;
$Barlow-condensed: 'Barlow Condensed', sans-serif;
$Barlow: 'Barlow', sans-serif;

$ff-serif: $Bellefair;
$ff-sans-condensed: $Barlow-condensed;
$ff-sans: $Barlow;

$fs-900: 9.375rem;
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

// Breakpoints
$breakpoints: (
  tablet: 35em,
  desktop: 48em,
);
// Font size
$font-size: (
  mobile: (
    900: clamp(5rem, 13.6vw + 1rem, 9.375rem),
    800: 3.5rem,
    700: 1.5rem,
    600: 1rem,
    500: 1rem,
    400: 0.9375rem,
    300: 1rem,
    200: 0.875rem,
  ),
  tablet: (
    800: 5rem,
    700: 2.5rem,
    600: 1.5rem,
    500: 1.25rem,
    400: 1rem,
  ),
  desktop: (
    800: 6.25rem,
    700: 3.5rem,
    600: 2rem,
    500: 1.75rem,
    400: 1.125rem,
  ),
);

// letter-spacing
$letter-spacing: (
  1: 4.75px,
  2: 2.7px,
  3: 2.35px,
);

// Spacing
$spacing: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.25rem,
  5: 1.5rem,
  6: 2rem,
  auto: auto,
);

// Dsplay variable

$property-names: (
  justify-content: justify-content,
  align-content: align-content,
  place-content: place-content,
  justify-items: justify-items,
  align-items: align-items,
  place-items: place-items,
  justify-self: justify-self,
  align-self: align-self,
);

$property-values: (
  baseline: baseline,
  start: start,
  center: center,
  end: end,
  space-between: space-between,
  space-around: space-around,
  unset: unset,
);
