@use '../abstracts/variables' as *;

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center !important;
  padding-inline: 1rem;
  row-gap: var(--container-row-gap, 2rem);
  column-gap: var(--container-column-gap, 2rem);
  padding-bottom: var(--container-padding-bottom, 4rem);

  @media (min-width: 48em) {
    text-align: left;
    grid-template-columns:
      minmax(1rem, 1fr)
      var(--conter-left-size, minmax(0, 30rem))
      var(--conter-right-size, minmax(0, 30rem))
      minmax(1rem, 1fr);
    &__nav {
      display: grid;
      grid-template-columns:
        minmax(1rem, 1fr)
        minmax(0, 60rem)
        minmax(1rem, 1fr);
    }
  }
}
