@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// loop for $property-names variable
@each $property, $property-name in $property-names {
  // Loop for $property-values
  @each $property-value-name, $property-value in $property-values {
    .#{$property}-#{$property-value-name} {
      #{$property-name}: #{$property-value} !important;
    }
  }
}

// Flex
.d-flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

// Grid
.d-grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}
