@use "../abstracts/variables" as *;

// Primary-nav

.mobile-nav-toggler {
  background-color: transparent;
  border: none;
  @media (min-width: 48em) {
    display: none;
  }
}
.primary-nav {
  --flex-gap: 3rem;
  background-color: hsl($white-lightest);
  backdrop-filter: blur(1.5rem);
  margin-inline-start: auto;

  a {
    text-decoration: none;

    span {
      font-weight: 700;
      margin-right: 0.5em;
    }
  }

  @media (max-width: 48em) {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 20%;
    z-index: 99999;
    padding: 3rem 2rem !important;
  }
  &__wrapper {
    @media (max-width: 48em) {
      position: fixed;
    }
  }
}

.nav-bar__wrapper {
  grid-column: 2;
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-nav {
    --flex-gap: 3rem;
    background-color: hsl($white-lightest);
    backdrop-filter: blur(1.5rem);
  }
}
