@use '../abstracts/variables' as *;

// Font Family
.ff-serif {
  font-family: $ff-serif;
}

.ff-sans-condensed {
  font-family: $ff-sans-condensed;
}

.ff-sans {
  font-family: $ff-sans;
}

// Font-size
@each $screensize, $font-sizes in $font-size {
  @if $screensize == mobile {
    @each $property, $value in $font-sizes {
      .fs-#{$property} {
        font-size: var(--fs-#{$property});
      }
    }
  }
}

@media screen {
}
//text-uppercase
.text-uppercase {
  text-transform: uppercase;
}

// letter spacing

@each $spacing, $value in $letter-spacing {
  .letter-spacing-#{$spacing} {
    letter-spacing: #{$value};
  }
}

// Line height
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.paragraph-width {
  max-width: 50ch;
}
