@use '../abstracts/variables' as *;

.numbered-title {
  font-family: $ff-sans-condensed;
  font-size: map-get($font-size, 500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  text-decoration: none;

  span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl($white-lighter);
  }
}
