/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove animations and transition on window resize */
.resize-animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  transition: none !important;
}

/* Screen reader only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.text-dark {
  color: hsl(230deg, 35%, 7%);
}

.text-accent {
  color: hsl(231deg, 77%, 90%);
}

.text-light {
  color: hsl(0deg, 0%, 100%);
}

.bg-dark {
  background-color: hsl(230deg, 35%, 7%);
}

.bg-accent {
  background-color: hsl(231deg, 77%, 90%);
}

.bg-light {
  background-color: hsl(0deg, 0%, 100%);
}

.bg-transparent {
  background-color: transparent;
}

.ff-serif {
  font-family: "Bellefair-serif", serif;
}

.ff-sans-condensed {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans {
  font-family: "Barlow", sans-serif;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.text-uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.paragraph-width {
  max-width: 50ch;
}

:root {
  --fs-900: clamp(5rem, 13.6vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 48em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

body {
  color: hsl(231deg, 77%, 90%);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.ms-auto {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.mx-auto {
  margin-inline: auto;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.m-0 {
  padding: 0 !important;
}

.mx-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.my-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ms-0 {
  padding-left: 0 !important;
}

.mt-0 {
  padding-top: 0 !important;
}

.me-0 {
  padding-right: 0 !important;
}

.mb-0 {
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.m-1 {
  padding: 0.25rem !important;
}

.mx-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.my-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ms-1 {
  padding-left: 0.25rem !important;
}

.mt-1 {
  padding-top: 0.25rem !important;
}

.me-1 {
  padding-right: 0.25rem !important;
}

.mb-1 {
  padding-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.m-2 {
  padding: 0.5rem !important;
}

.mx-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.my-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ms-2 {
  padding-left: 0.5rem !important;
}

.mt-2 {
  padding-top: 0.5rem !important;
}

.me-2 {
  padding-right: 0.5rem !important;
}

.mb-2 {
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.m-3 {
  padding: 1rem !important;
}

.mx-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.my-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ms-3 {
  padding-left: 1rem !important;
}

.mt-3 {
  padding-top: 1rem !important;
}

.me-3 {
  padding-right: 1rem !important;
}

.mb-3 {
  padding-bottom: 1rem !important;
}

.p-4 {
  padding: 1.25rem !important;
}

.px-4 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.py-4 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ps-4 {
  padding-left: 1.25rem !important;
}

.pt-4 {
  padding-top: 1.25rem !important;
}

.pe-4 {
  padding-right: 1.25rem !important;
}

.pb-4 {
  padding-bottom: 1.25rem !important;
}

.m-4 {
  padding: 1.25rem !important;
}

.mx-4 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.my-4 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ms-4 {
  padding-left: 1.25rem !important;
}

.mt-4 {
  padding-top: 1.25rem !important;
}

.me-4 {
  padding-right: 1.25rem !important;
}

.mb-4 {
  padding-bottom: 1.25rem !important;
}

.p-5 {
  padding: 1.5rem !important;
}

.px-5 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ps-5 {
  padding-left: 1.5rem !important;
}

.pt-5 {
  padding-top: 1.5rem !important;
}

.pe-5 {
  padding-right: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 1.5rem !important;
}

.m-5 {
  padding: 1.5rem !important;
}

.mx-5 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.my-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ms-5 {
  padding-left: 1.5rem !important;
}

.mt-5 {
  padding-top: 1.5rem !important;
}

.me-5 {
  padding-right: 1.5rem !important;
}

.mb-5 {
  padding-bottom: 1.5rem !important;
}

.p-6 {
  padding: 2rem !important;
}

.px-6 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-6 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ps-6 {
  padding-left: 2rem !important;
}

.pt-6 {
  padding-top: 2rem !important;
}

.pe-6 {
  padding-right: 2rem !important;
}

.pb-6 {
  padding-bottom: 2rem !important;
}

.m-6 {
  padding: 2rem !important;
}

.mx-6 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.my-6 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ms-6 {
  padding-left: 2rem !important;
}

.mt-6 {
  padding-top: 2rem !important;
}

.me-6 {
  padding-right: 2rem !important;
}

.mb-6 {
  padding-bottom: 2rem !important;
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.ps-auto {
  padding-left: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pe-auto {
  padding-right: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.m-auto {
  padding: auto !important;
}

.mx-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.my-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.ms-auto {
  padding-left: auto !important;
}

.mt-auto {
  padding-top: auto !important;
}

.me-auto {
  padding-right: auto !important;
}

.mb-auto {
  padding-bottom: auto !important;
}

.numbered-title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4.72px;
  text-decoration: none;
}
.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsla(0deg, 0%, 100%, 0.25);
}

.justify-content-baseline {
  justify-content: baseline !important;
}

.justify-content-start {
  justify-content: start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: end !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

.justify-content-unset {
  justify-content: unset !important;
}

.align-content-baseline {
  align-content: baseline !important;
}

.align-content-start {
  align-content: start !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-end {
  align-content: end !important;
}

.align-content-space-between {
  align-content: space-between !important;
}

.align-content-space-around {
  align-content: space-around !important;
}

.align-content-unset {
  align-content: unset !important;
}

.place-content-baseline {
  place-content: baseline !important;
}

.place-content-start {
  place-content: start !important;
}

.place-content-center {
  place-content: center !important;
}

.place-content-end {
  place-content: end !important;
}

.place-content-space-between {
  place-content: space-between !important;
}

.place-content-space-around {
  place-content: space-around !important;
}

.place-content-unset {
  place-content: unset !important;
}

.justify-items-baseline {
  justify-items: baseline !important;
}

.justify-items-start {
  justify-items: start !important;
}

.justify-items-center {
  justify-items: center !important;
}

.justify-items-end {
  justify-items: end !important;
}

.justify-items-space-between {
  justify-items: space-between !important;
}

.justify-items-space-around {
  justify-items: space-around !important;
}

.justify-items-unset {
  justify-items: unset !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-start {
  align-items: start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: end !important;
}

.align-items-space-between {
  align-items: space-between !important;
}

.align-items-space-around {
  align-items: space-around !important;
}

.align-items-unset {
  align-items: unset !important;
}

.place-items-baseline {
  place-items: baseline !important;
}

.place-items-start {
  place-items: start !important;
}

.place-items-center {
  place-items: center !important;
}

.place-items-end {
  place-items: end !important;
}

.place-items-space-between {
  place-items: space-between !important;
}

.place-items-space-around {
  place-items: space-around !important;
}

.place-items-unset {
  place-items: unset !important;
}

.justify-self-baseline {
  justify-self: baseline !important;
}

.justify-self-start {
  justify-self: start !important;
}

.justify-self-center {
  justify-self: center !important;
}

.justify-self-end {
  justify-self: end !important;
}

.justify-self-space-between {
  justify-self: space-between !important;
}

.justify-self-space-around {
  justify-self: space-around !important;
}

.justify-self-unset {
  justify-self: unset !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-start {
  align-self: start !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-end {
  align-self: end !important;
}

.align-self-space-between {
  align-self: space-between !important;
}

.align-self-space-around {
  align-self: space-around !important;
}

.align-self-unset {
  align-self: unset !important;
}

.d-flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.d-grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center !important;
  padding-inline: 1rem;
  row-gap: var(--container-row-gap, 2rem);
  -moz-column-gap: var(--container-column-gap, 2rem);
       column-gap: var(--container-column-gap, 2rem);
  padding-bottom: var(--container-padding-bottom, 4rem);
}
.grid-container__home {
  --button-position: center;
  --container-column-gap: 0;
  --container-row-gap: clamp(2rem, 10vw, 5rem);
  margin-top: clamp(2rem, 12vw, 5.5rem);
}
.grid-container__destination {
  justify-items: start;
  align-content: start;
  grid-template-areas: "title" "image" "tab-list" "article";
}
@media (min-width: 48em) {
  .grid-container__destination {
    grid-template-areas: ". title title ." ".  image tab-list ." ". image article .";
  }
}
.grid-container__destination > h1 {
  grid-area: title;
}
@media (min-width: 35em) {
  .grid-container__destination > h1 {
    justify-self: start;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 48em) {
  .grid-container__destination > h1 {
    margin-left: 0rem;
  }
}
.grid-container__destination > img {
  grid-area: image;
  max-width: 60%;
}
@media (min-width: 48em) {
  .grid-container__destination > img {
    max-width: 100%;
  }
}
.grid-container__destination > .tab-list {
  grid-area: tab-list;
}
@media (min-width: 48em) {
  .grid-container__destination > .tab-list {
    justify-self: start;
  }
}
.grid-container__destination > .destination-info {
  grid-area: article;
}
.grid-container__crew {
  --container-padding-bottom: 0rem;
  justify-items: start;
  align-content: start;
  grid-template-areas: "crew-title" "crew-image" "dot-list" "crew-info";
}
@media (min-width: 35em) {
  .grid-container__crew {
    grid-template-areas: "crew-title" "crew-info" "dot-list" "crew-image";
  }
}
@media (min-width: 48em) {
  .grid-container__crew {
    grid-template-areas: ". crew-title crew-image" ". crew-info crew-image" ". dot-list crew-image" ". . crew-image";
  }
}
.grid-container__crew > h1 {
  grid-area: crew-title;
}
@media (min-width: 35em) {
  .grid-container__crew > h1 {
    justify-self: start;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 48em) {
  .grid-container__crew > h1 {
    margin-left: 0rem;
  }
}
.grid-container__crew > img {
  grid-area: crew-image;
  max-width: 60%;
}
@media (min-width: 48em) {
  .grid-container__crew > img {
    max-width: 100%;
  }
}
.grid-container__crew > .dot-indicators {
  grid-area: dot-list;
}
@media (min-width: 48em) {
  .grid-container__crew > .dot-indicators {
    justify-self: start;
  }
}
.grid-container__crew > .crew-info {
  grid-area: crew-info;
}

@media (min-width: 48em) {
  .grid-container {
    text-align: left;
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
  }
  .grid-container__nav {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 60rem) minmax(1rem, 1fr);
  }
  .grid-container__home {
    margin-top: 0;
    padding-bottom: max(6rem, 20vh);
    height: clamp(46rem, 90vh, 50rem);
    --container-column-gap: 0rem;
    --container-row-gap: 0rem;
  }
  .grid-container__home > :first-child {
    grid-column: 2;
  }
  .grid-container__home > :last-child {
    --button-position: end;
    grid-column: 3;
    justify-self: var(--button-position);
  }
}
.primary-header {
  max-width: 80rem;
  margin-inline: auto;
}
@media (min-width: 48em) {
  .primary-header::after {
    content: "";
    position: relative;
    height: 1.5px;
    width: 100%;
    background-color: hsla(0deg, 0%, 0%, 0.9);
    -webkit-backdrop-filter: blur(3.5rem);
            backdrop-filter: blur(3.5rem);
    margin-right: 0rem !important;
    order: 1;
  }
}
@media (min-width: 51.125em) {
  .primary-header::after {
    margin-right: -5rem !important;
  }
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.mobile-nav-toggler {
  display: block;
  background-color: transparent;
  background-image: url("/assets/images/shared/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: none;
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
  z-index: 9999;
}
.mobile-nav-toggler[aria-expanded=true] {
  background-image: url("/assets/images/shared/icon-close.svg");
}
@media (min-width: 35em) {
  .mobile-nav-toggler {
    display: none;
  }
}

.primary-nav {
  --flex-gap: min(6vw, 3.5rem);
  --underline-gap: 2rem;
  background-color: hsla(0deg, 0%, 0%, 0.9);
  -webkit-backdrop-filter: blur(3.5rem);
          backdrop-filter: blur(3.5rem);
  margin-left: 0.725rem !important;
  overflow-x: hidden;
}
@media (min-width: 35em) and (max-width: 48em) {
  .primary-nav {
    --flex-gap: clamp(1.8rem, 5vw, 3.5rem);
  }
}
@media (min-width: 35em) {
  .primary-nav {
    padding-inline: clamp(2.6rem, 9vw, 7rem) !important;
  }
}
@media (min-width: 48em) {
  .primary-nav {
    margin-block: 2rem !important;
  }
}
@media (max-width: 35em) {
  .primary-nav {
    --flex-gap: 1.5rem !important;
    --underline-gap: 0.25rem !important;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 999;
    padding: min(20rem, 18vh) 2.5rem !important;
    transform: translateX(100%);
    transition: cubic-bezier(0.78, -1.23, 0.19, 1.07) 750ms;
  }
  .primary-nav[data-visible=true] {
    transform: translateX(0);
    transition: cubic-bezier(0, -1.07, 0, 1.53) 750ms;
  }
  .primary-nav.underline-indicators > .active {
    border: 0;
  }
}
@media (max-width: 25em) {
  .primary-nav {
    inset: 0 0 0 20% !important;
  }
}
.primary-nav a {
  text-decoration: none;
}
.primary-nav a span {
  font-weight: 700;
  margin-right: 0.5em;
}
@media (min-width: 35em) and (max-width: 48em) {
  .primary-nav a span {
    display: none;
  }
}
.primary-nav__wrapper {
  order: 2;
}

@supports ((-webkit-backdrop-filter: blur(3.5rem)) or (backdrop-filter: blur(3.5rem))) {
  .primary-nav {
    background-color: hsla(0deg, 0%, 100%, 0.05);
    -webkit-backdrop-filter: blur(3.5rem);
            backdrop-filter: blur(3.5rem);
  }
  .primary-header::after {
    background-color: hsla(0deg, 0%, 100%, 0.25);
    -webkit-backdrop-filter: blur(3.5rem);
            backdrop-filter: blur(3.5rem);
  }
}
.large-btn {
  cursor: pointer;
  display: inline-grid;
  position: relative;
  z-index: 1;
  place-items: center;
  font-family: "Bellefair-serif", serif;
  font-size: 2rem;
  padding: 0 2em;
  aspect-ratio: 1;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(230deg, 35%, 7%);
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transform: rotate(-720deg) scale(1);
  transition: transform 500ms ease-in-out;
}
.large-btn:is(:focus, :hover) {
  transform: rotate(720deg) scale(0.75);
  background-color: hsl(231deg, 77%, 90%);
  transition: transform 500ms ease-in-out;
}
.large-btn:is(:active) {
  transform: rotate(-720deg) scale(1);
  transition: transform 500ms ease-in-out;
}

.large-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  aspect-ratio: 1;
  background-color: hsla(0deg, 0%, 100%, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-btn:is(:hover, :focus)::after {
  opacity: 1;
  transform: scale(1.5);
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1em) 0;
  border: 0;
  border-bottom: 0.2rem solid hsla(0deg, 0%, 100%, 0);
}
.underline-indicators > *:is(:hover, :focus) {
  opacity: 1;
  border-color: hsla(0deg, 0%, 100%, 0.5);
}

.underline-indicators .active {
  border-color: hsl(0deg, 0%, 100%);
}

.dot-indicators > * {
  cursor: pointer;
  padding: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsla(0deg, 0%, 100%, 0.1);
  border: none;
}
.dot-indicators > *:is(:hover, :focus) {
  opacity: 1;
  background-color: hsla(0deg, 0%, 100%, 0.5);
}

.dot-indicators .dot-active {
  background-color: hsl(0deg, 0%, 100%);
}

.numbered-list > * {
  cursor: pointer;
  padding: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.1em solid hsla(0deg, 0%, 100%, 0.5);
}
.numbered-list > *:is(:hover, :focus) {
  opacity: 1;
  background-color: transparent;
  border-color: hsl(0deg, 0%, 100%);
}

.numbered-list .list-active {
  border-color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 100%);
}

.tab-list {
  --flex-gap: 2rem;
}

.home {
  background-image: url("/assets/images/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
@media (min-width: 35em) {
  .home {
    background-image: url("/assets/images/home/background-home-tablet.jpg");
    background-position: center center;
  }
}
@media (min-width: 48em) {
  .home {
    background-image: url("/assets/images/home/background-home-desktop.jpg");
  }
}

.destination {
  background-image: url("/assets/images/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
@media (min-width: 35em) {
  .destination {
    background-image: url("/assets/images/destination/background-destination-tablet.jpg");
    background-position: center center;
  }
}
@media (min-width: 48em) {
  .destination {
    background-image: url("/assets/images/destination/background-destination-desktop.jpg");
  }
}
.destination__travel-info {
  border-top: 1.5px solid hsla(0deg, 0%, 100%, 0.25);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
@media (min-width: 35em) {
  .destination__travel-info {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 48em) {
  .destination__travel-info {
    --flex-gap: 2.6rem;
    flex-direction: row;
    justify-content: start;
  }
}
@media (min-width: 52em) {
  .destination__travel-info {
    --flex-gap: clamp(2.6rem, 6.5vw, 6rem);
  }
}
.destination__travel-info p {
  font-size: 1.75rem;
}

.crew {
  background-image: url("/assets//images/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
@media (min-width: 35em) {
  .crew {
    background-image: url("/assets/images/crew/background-crew-tablet.jpg");
    background-position: center center;
  }
}
@media (min-width: 48em) {
  .crew {
    background-image: url("/assets/images/crew/background-crew-desktop.jpg");
  }
}/*# sourceMappingURL=main.css.map */