@use '../abstracts/variables' as *;

.numbered-list > * {
  cursor: pointer;
  padding: 0.89em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.1em solid hsl($white-lighter);
  background-color: transparent;
  line-height: 2px;

  &:is(:hover, :focus) {
    opacity: 1;
    border-color: hsl($white-color);
  }
}

.numbered-list .active {
  border-color: hsl($white-color);
  background-color: hsl($white-color);
}
